@font-face {
  font-family: 'Weezer';
  src: url('weezerfont.ttf')
}

body {
  font-family: 'Weezer', sans-serif;
  color: #FFFFFF;
  background-color: #189BCC;
  margin: 0;
  padding: 0;
  text-align: center;
}
