@font-face {
  font-family: 'Weezer';
  src: url('weezerfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Weezer', sans-serif;
  color: #FFFFFF;
  background-color: #0099CC;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  margin: 45px 0;
}

p, h3, h1 {
  color: #FFFFFF;
}

main {
  padding: 30px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

main section {
  margin-bottom: 60px;
}
