@font-face {
  font-family: 'Weezer';
  src: url('weezerfont.ttf') format('truetype');
}

body {
  font-family: 'Weezer', sans-serif;
  background-color: #189BCC;
  text-align: center;
}

header {
  margin: 30px 0;
}

p, h3, h1 {
  color: #000000;
}

main {
  padding: 20px;
  text-align: center;
}
